/* CORRIGIDO: Centraliza o texto apenas na tela principal */
.container {
    text-align: center;
}

/* Estilos gerais para botões na página principal */
.container button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    /* ... */
}

.container button:hover {
    filter: brightness(0.9);
}

button:hover {
    filter: brightness(0.9);
}

/* Caixas de conteúdo */
.caixa {
    background-color: var(--cor-fundo);
    border: 1px solid var(--cor-neutra-clara);
    color: var(--cor-texto);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#notificacoes {
    text-align: left;
    height: 120px;
    overflow-y: auto;
}

#avaliacoes .avaliacao {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-neutra-clara);
    text-align: left;
}

.estrelas {
    color: var(--cor-primaria);
    font-size: 1.2em;
    vertical-align: middle;
}