{% extends 'app/base.html' %}
{% load static %}

{% block title %}Login - EstacionaFácil{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'forms.css' %}" />
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Login</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="field">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn">Entrar</button>
    </form>
    <p class="login-link">
      Não tem conta? <a href="{% url 'app:registro_usuario' %}">Cadastre-se</a>
    </p>
</div>
{% endblock %}